{% if user %}
    {% extends "inside.html" %}
{% else %}
    {% extends "base.html" %}
{% endif %}

{% block error_403 %}

<section class="section" style="margin-top: 10%; margin-bottom: 15%;">
	<div class="container">
		<section class="hero has-text-right is-dark is-bold">
			<section class="hero-body">
		        <p class="title has-text-info is-spaced">
                    Hmm, you don't have sufficient permissions to view
                    this page :(
		        </p>	
			</section>
		</section>
	</div>
</section>

{% endblock %}