{% extends "layout.html" %}
{% block base %}

<section class="hero is-dark is-small is-bold">
    <div class="hero-body has-text-left">
        <div class="container">
            <h1 class="title is-4 is-spaced">
                BLOG <code class="has-text-info">STATE</code>
            </h1>
        </div>
    </div>
</section>


<nav class="navbar is-info">
	<div class="container">
		<div class="navbar-brand">
			<span class="navbar-burger burger" data-target="navMenu">
				<span></span>
				<span></span>
				<span></span>
			</span>
		</div>
		<div id="navMenu" class="navbar-menu">
			<div class="navbar-end">
				<a href="{{ url_for('signup') }}" class="navbar-item is-active">Sign Up</a>
				<a href="{{ url_for('login') }}" class="navbar-item">Login</a>
			</div>
		</div>
	</div>
</nav>


<!-- Content blocks -->
{% block login %}{% endblock %}
{% block signup %}{% endblock %}
{% block viewpost %}{% endblock %}
{% block posts %}{% endblock %}
{% block error_404 %}{% endblock %}

{% endblock %}