{% extends "layout.html" %}
{% block home %}
<section class="hero is-dark is-fullheight is-bold">
	<div class="hero-body has-text-centered">
		<div class="container">
			<h1 class="title is-2 is-spaced">
				Let's write something great
			</h1>
			<h1 class="subtitle is-4">
				BLOG <code class="has-text-info">STATE</code>
			</h1>
		</div>
	</div>
</section>


<nav class="navbar is-info">
	<div class="container">
		<div class="navbar-brand">
			<span class="navbar-burger burger" data-target="navMenu">
				<span></span>
				<span></span>
				<span></span>
			</span>
		</div>
		<div id="navMenu" class="navbar-menu">
			<div class="navbar-end">
				<a href="{{ url_for('signup') }}" class="navbar-item is-active">Sign Up</a>
				<a href="{{ url_for('login') }}" class="navbar-item">Login</a>
				<a href="#" class="navbar-item">Articles</a>
			</div>
		</div>
	</div>
</nav>


<section class="section">
	<div class="container">
		<div class="section">
			<h1 class="title is-spaced has-text-right is-2">
				#start
			</h1>
			<h2 class="subtitle has-text-info has-text-right is-4">
				Get straight to writing stuff.<code>#write</code>
			</h2>
		</div>
		<div class="section">
			<h1 class="title is-spaced is-2">
				#share
			</h1>
			<h2 class="subtitle has-text-info is-4">
				Learn and teach what it takes
				<br>
				 to be a good writer.
				<code>#learn</code>
			</h2>
		</div>
		<div class="section">
			<h1 class="title is-spaced has-text-right is-2">
				#chat
			</h1>
			<h2 class="subtitle has-text-info has-text-right is-4">
				Discuss things <code>#peertopeer</code>
			</h2>
		</div>
		<div class="section">
			<h1 class="title is-spaced is-2">
				#roam
			</h1>
			<h2 class="subtitle has-text-info is-4">
				Explore what's going on in the community
			</h2>
		</div>
		<div class="section">
			<h1 class="title is-spaced has-text-right is-2">
				#remote <sup><code>(beta)</code></sup>
			</h1>
			<h2 class="subtitle has-text-info has-text-right is-4">
				A CLI-tool for terminal lovers to post articles online,
				<br>
				from wherever they are.<code>#terminal</code>
			</h2>
		</div>
	</div>
</section>

{% endblock %}