{% if user %}
    {% extends "inside.html" %}
{% else %}
    {% extends "base.html" %}
{% endif %}

{% block posts %}

<section class="section">
    <div class="container">
        <nav class="breadcrumb is-large">
            <ul>
                <li><a>BLOG</a></li>
                <li class="is-active"><a>@{{ author }}</a></li>
            </ul>
        </nav>
        <hr>
        {% for post in posts %}
        <div class="card">
            <a>
                <header class="card-header">
                    <p class="card-header-title subtitle is-4 has-text-grey">
                        {{ post.title }}
                        &middot;&nbsp;
                        <span class="subtitle is-6">{{ post.date }}</span>
                    </p>
                </header>
            </a>
            <div class="card-content">
                <div class="content">
                    {{ post.body }}
                </div>
            </div>
            <footer class="card-footer">
                <a href="/{{ author }}/post/{{ post.url_id }}"
                   class="card-footer-item has-text-info">Read</a>
                <a href="#" class="card-footer-item has-text-info">Copy Link</a>
            </footer>
        </div>
        {% endfor %}
    </div>
</section>


{% endblock %}