{% if user %}
    {% extends "inside.html" %}
{% else %}
    {% extends "base.html" %}
{% endif %}

{% block viewpost %}

<section class="section">
    <div class="container">
        <h2 class="subtitle is-4">
            Post by
            <a href="/{{ post.author.username }}">
                {{ post.author.name }}
            </a>
        </h2>
        <div class="card">
            <header class="card-header">
                <p class="card-header-title subtitle is-4 has-text-grey">
                    {{ post.title }}
                    &middot;&nbsp;
                    <span class="subtitle is-6">{{ post.date }}</span>
                </p>
            </header>
            <div class="card-content">
                <div class="content">
                    {{ post.body }}
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
