{% if user %}
    {% extends "inside.html" %}
{% else %}
    {% extends "base.html" %}
{% endif %}

{% block viewpost %}
<div style="display: none;">
    <textarea></textarea>
</div>
<section class="section">
    <div class="container">
        <h2 class="subtitle is-4">
            Post by
            <a href="/{{ post.author.username }}">
                {{ post.author.name }}
            </a>
        </h2>
        <div class="card">
            <header class="card-header">
                <p class="card-header-title subtitle is-4 has-text-grey">
                    {{ post.title | safe }}
                    &middot;&nbsp;
                    <span class="subtitle is-6">{{ post.date }}</span>
                </p>
            </header>
            <div class="card-content">
                <div id="post-body" class="content">
                    {{ post.body | safe }}
                </div>
            </div>
            <footer class="card-footer">
            {% if user %}{% if user.logged_in %}
                <a id="add-comment" class="card-footer-item">Add Comment</a>
                {% if user.username == post.author.username %}
                <a href="/edit/?author={{ post.author.username }}&post={{ post.idf }}" id="edit-post" class="card-footer-item">Edit Post</a>
                {% endif %}{% else %}
                <a href="{{ url_for('login') }}" id="add-comment" class="card-footer-item has-text-grey">Please log in to comment.</a>
                {% endif %}{% endif %}
            </footer>
        </div>
    </div>
</section>
{% endblock %}