{% extends "inside.html" %}
{% block dashboard %}

<section class="section">
    <div class="container box">
        <nav class="breadcrumb is-medium">
            <ul>
                <li><a>BlogState</a></li>
                <li class="is-active"><a>Dashboard</a></li>
            </ul>
        </nav>
        <hr>
        <div class="section">
        {% if user.stats.posts_count > 0 %}
            <p class="subtitle is-5">
                Nice, <code class="has-text-link">@{{ user.username }}!</code>
                Here are your posts.
            </p>
            <nav class="panel is-link">
                <p class="panel-heading">Your Posts ({{ user.stats.posts_count }})</p>
                <div class="columns">
                {% for title in titles %}
                    <div class="column">
                        <header class="card-headers">
                            <p class="card-header-title is-4">
                                <a href="/{{ user.username}}/post/{{ title.url }}">
                                    {{ title.title }}
                                </a>
                            </p>
                        </header>
                    </div>
                {% endfor %}
                </div>
            </nav>
        {% else %}
            <p class="subtitle is-5">
                Hi <code class="has-text-link">@{{ user.username }}</code>
                - Welcome to BlogState!
            </p>
            <p>
                Go ahead, start a blog.
                Once you start writing, you're good to go!
            </p>
            <br><br>
            <nav class="panel is-link">
                <div class="panel-heading">
                    <p class="subtitle is-5 has-text-white">
                        Posts you write show up here
                    </p>
                </div>
                <br><br>
                <div class="columns">
                    <div class="column has-text-centered">
                        <a href="{{ url_for('new')}}">
                            <button class="button is-primary">
                                Write a new one!
                            </button>
                        </a>
                    </div>
                </div>
            </nav>
        {% endif %}
        </div>
    </div>
</section>

{% endblock %}