{% extends "inside.html" %}
{% block new %}

<section class="section">
    <div class="container box">
        <div class="columns">
            <div class="column is-4">
                <h2 class="subtitle is-4">New Post</h2>
            </div>

            <div class="column is-8">
                {% if issue %}
                <div class="field has-text-centered">
                    <p class="button is-danger is-small is-outlined">{{ issue }}</p>
                </div>
                {% endif %}
                <form id="add-post" class="form" method="POST" action="{{ url_for('new') }}">
                    <label class="label" for="title">Title</label>
                    <input
                      class="input"
                      type="text"
                      name="title"
                      placeholder="Great titles are less than 50 characters.">
                    <br><br>
                <textarea
                  type="text" rows="12" class="textarea is-fluid"
                  placeholder="Write something..."
                  name="body"></textarea>
                </form>
            </div>
        </div>
        <div class="has-text-centered">
            <button class="button is-info" form="add-post" type="submit">
                Publish
            </button>
        </div>
    </div>

</section>

<script src="/static/js/nicEdit-latest.js"></script>
<script type="text/javascript">
    bkLib.onDomLoaded(function() { nicEditors.allTextAreas() });
</script>


{% endblock %}