{% extends "inside.html" %}
{% block new %}
<section class="section">
    <div class="container box">
        <div class="columns">
            <div class="column is-4">
                <nav class="breadcrumb is-medium">
                    <ul>
                        <li><a>BlogState</a></li>
                        <li class="is-active"><a class="has-text-grey">Write</a></li>
                    </ul>
                </nav>
            </div>
            <div class="column is-8">
                {% if issue %}
                <div class="field has-text-centered">
                    <p class="button is-danger is-small is-outlined">{{ issue }}</p>
                </div>
                {% endif %}
                <form id="add-post" class="form" method="POST" action="{{ url_for('new') }}">
                    <label class="label subtitle is-7 has-text-info" for="title">TITLE</label>
                    <input
                      class="input"
                      type="text"
                      name="title"
                      placeholder="Great titles are less than 50 characters!">
                    <br><br>
                <textarea
                  type="text" rows="12" class="textarea is-fluid"
                  placeholder="Start composing..."
                  name="body"></textarea>
                  <br>
                <span class="subtitle is-7 has-text-info">DESCRIPTION</span>
                <textarea
                  type="text" rows="2" class="textarea is-fluid"
                  placeholder="A nice, short description or summary..."
                  name="preview-text"></textarea>
                </form>
            </div>
        </div>
        <div class="has-text-centered">
            <button class="button is-info" form="add-post" type="submit">
                Publish
            </button>
        </div>
        <div class="has-text-left">
            <br>
            <span class="subtitle is-7 has-text-danger">
                Published posts cannot be edited. This feature will be removed in a newer version,
                along with this message.
            </span>
        </div>
    </div>
</section>

<script src="/static/js/nicEdit-latest.js"></script>
<script type="text/javascript">
    bkLib.onDomLoaded(function() { nicEditors.allTextAreas() });
</script>
{% endblock %}